@model LightPuzzleGameViewModel


@foreach (var rowLights in Model.Lights)
{
    <div class="row">
        @foreach (var light in rowLights)
        {
            <a
                class="light @(light.IsOn ? "isOn" : "isOff")"
                asp-action="ToggleAdjacentLights"
                asp-route-positionX="@(light.PositionX)"
                asp-route-positionY="@(light.PositionY)"
                asp-route-isOn="@(light.IsOn)">
            </a>
        }
    </div>
}

