@{
    ViewData["Title"] = "Home Page";
}


<div class="row justify-content-center">

    <a class="start-game"
       asp-controller="Game"
       asp-action="StartGame">
        Start game
    </a>
</div>

<style>

.start-game {
    background-color: #1b6ec2;
      color: white;
      padding: 1em 1.5em;
      text-decoration: none;
      text-transform: uppercase;
    }
    
</style>