@model LightPuzzleGameViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="display-2 text-center">
    Lights out puzzle
</h1>

@await Html.PartialAsync("_PartialPuzzleBoard", Model)

<div id="completed-message" class="d-none">
    <p class="text-center">
        <span class="display-1">
            Congratulations!
        </span>
    </p>

    <p class="text-center">
        <span class="display-4">
            You have successfully completed the game.
        </span>
    </p>
</div>

<div class="row justify-content-center mt-2">
    <a class="restart-button col-2 text-center"
       asp-action="StartGame">
        Restart Game
    </a>
</div>


<style>
    a {
      color: white;
      padding: 1em 1.5em;
      text-decoration: none;
      text-transform: uppercase;
    }
    .light {
      background-color: black;
      flex: 1 1 0;
      margin: 1px;
    }
    .isOn {
        background-color: yellow;
    }
    
    .restart-button {
        background-color: green;
    }
</style>